/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos generales*/

body{
    background-color: #A47E3B ; 
}

/* estilos header todos*/

header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header h1{
    
    font-size: 2.5rem;
}

header nav{
    width: 100%;
    height: 25px;
    background-color: rgb(97, 72, 28);
}

header nav ul{
    display: flex;
    justify-content: center;
    margin-top: 0.8%;

}

header nav ul li{
    list-style: none;
    
}

header nav ul li a{
    text-decoration: none;
    color: bisque;
    padding: 8px;
}

header nav ul li a:hover{
    font-size: 80%;
    color:#A47E3B;
}

/*estilos del contenedor padre del index*/

.container-index{
    display: grid;
    height: 85vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70% 30%;
    column-gap: 1rem;
    grid-template-areas: 
        "main main "
        "foto1 foto2 ";
        justify-items: center;
        justify-content: center;
        align-items: center;

}

/*estilos de main index*/

main{
    grid-area: main;
    
    width: 100%;
}

.subtitulo{
    text-align: start;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration:underline;
    text-transform: capitalize;
}

.pmain{
    
    margin: 5px;
    padding: 2px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    text-align: justify;
    border: 3px solid black ;    
}

.fotos{
    justify-content: center;
    align-content: center;
}


.pfoto{
    display: flex;
    background-color:rgb(97, 72, 28);
    color: white;
    font-style: italic;
    
    padding-left: 8px;
    border: 3px solid black;
    width: 100%;
    height: 30px;

}
.foto1{
    grid-area: foto1;
    width: 80px;
    height: 80px;
}
.foto2{
    grid-area: foto2;
    width: 80px;
    height: 80px;
}
.foto3{
    grid-area: foto3;
    display: none;
}
.foto4{
    grid-area: foto4;
    display: none;
}

/*footer*/
footer{
    margin-top: 20px;
    text-align: center;
    font-size: 0.5rem;
}

/* formulario de contacto*/

form{
    width: auto;
    margin: auto;
    background:rgb(97, 72, 28);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
    font-family: 'Uchen', serif;

}

form h2{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

form input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;
}

form textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: white;
    padding: 20px;
    font-size: 20px;
}

#boton:hover{
    background-color: #A47E3B;
    color:white;
    font-size: 30px;
    cursor: pointer;
}


/*screen a 600px*/

@media screen and (min-width: 600px)
{
    .container-index{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 60% 40%;
        column-gap: 1rem;
        grid-template-areas: 
            "main main main main"
            "foto1 foto2 foto3 foto4"
                }

    header h1{
        font-size: 3.5rem;
        margin-bottom: 10px;
                }
                
    header nav{
            
        height: 40px;
                } 
    header nav ul li a{                    
        font-size: 1.1rem;
        padding: 8px;
                }   
    header nav ul li a:hover{
        font-size: 160%;
                }                      
                
    
    .subtitulo{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-left: 20px;
            font-size: 2rem;
        }
        
        .pmain{
            margin: 30px;
            padding: 2px 20px;
            font-size: 1.2rem;
            background-color:rgb(97, 72, 28);
            color: whitesmoke;
            }
        .foto3{
            grid-area: foto3;
            display: flex;
        }
        .foto4{
            grid-area: foto4;
            display: flex;
            
        }.pfoto3{
            display: flex;
            text-align: center;
        
        }
        .pfoto4{
            display: flex;
            text-align: center;
        }
        form{
            width: 60%;
            
            }  
        /* #boton{
            margin-left: 80px;
        
            width: 50%;
            background: white;
            padding: 20px;
            font-size: 15px;
        }*/
    } 


/*screen a 1024*/

@media screen and (min-width: 1024px)
{
    .container-index{
        height: 90vh;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 40% 25% 25%;
        column-gap: 0.5rem;
        row-gap: 2rem;
        grid-template-areas: 
            "main main "
            "foto1 foto2"
            "foto3 foto4"

                }

    header h1{
        font-size: 5rem;
        margin-bottom: 10px;
                }
                
    header nav{
        
        height: 80px;
                } 
    header nav ul li a{                    
        font-size: 2rem;
        padding-left: 50px;
        
                }   
    header nav ul li a:hover{
        font-size: 160%;
                }                      
                
    
    .subtitulo{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 20px;
            margin-left: 20px;
            font-size: 3rem;
        }
        
        .pmain{
            margin: 30px;
            padding: 2px 20px;
            font-size: 1.4rem;
            }
        footer{
            margin-top: 20px;
            text-align: center;
            font-size: 1.0rem;
            }
        /*form{
            width: 40%;
            
            
            }  
        #boton{
            margin-left: 92px;
            
            } */
            
    }

    /*screen a 1440px*/

    @media screen and (min-width: 1440px)
    {
        .container-index{
            height: 90vh;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 40% 25% 25%;
            column-gap: 0.5rem;
            row-gap: 2rem;
            grid-template-areas: 
                "main main "
                "foto1 foto2"
                "foto3 foto4"
    
                    }
    
        header h1{
            font-size: 5rem;
            margin-bottom: 10px;
            margin-top: 15px;
                    }
                    
        header nav{
            
            height: 80px;
                    } 
        header nav ul li a{                    
            font-size: 2rem;
            padding-left: 50px;
            
                    }   
        header nav ul li a:hover{
            font-size: 250%;
                    }                      
                    
        
        .subtitulo{
                text-align: center;
                margin-top: 50px;
                margin-bottom: 20px;
                margin-left: 20px;
                font-size: 3rem;
            }
            
            .pmain{
                margin: 30px;
                padding: 2px 20px;
                font-size: 1.4rem;
                }
                .foto1{
                    grid-area: foto1;
                    width: 200px;
                    height: 200px;
                }
                .foto2{
                    grid-area: foto2;
                    width: 200px;
                    height: 200px;

                }
                .foto3{
                    grid-area: foto3;
                    width: 200px;
                    height: 200px;
                }
                .foto4{
                    grid-area: foto4;
                    width: 200px;
                    height: 200px;
                }
                

            footer{
                margin-top: 20px;
                text-align: center;
                font-size: 1.0rem;
                }
            /*form{
                width: 40%;
                
                
                }  
            #boton{
                margin-left: 92px;
                
                } */
                
        }
    
    
    
