/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c0a26f;
  width: 100vw;
  height: 100vh; }

/*header*/
.titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 200px; }
  .titulo h1 {
    font-size: 5vw;
    width: 100%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px 0 20px;
    text-align: center; }
  .titulo nav {
    width: 80%;
    margin: 50px auto 50px auto;
    height: 60px;
    background-color: #61481c;
    color: #fff;
    margin-top: 10px; }
  .titulo ul {
    padding-top: 10px;
    margin-left: -30px;
    text-align: center; }
  .titulo li {
    display: inline;
    list-style: none; }
  .titulo a {
    font-size: 2vw;
    text-decoration: none;
    color: #fff;
    padding-left: 50px; }
  .titulo a:hover {
    color: #d07b05;
    font-size: 150%; }

@media screen and (min-width: 360px) {
  h1 {
    font-size: 2vw; } }

/*importar estilos index*/
.main-index {
  width: 80%;
  height: auto;
  margin: auto; }
  .main-index .subtitulo {
    text-transform: capitalize;
    text-align: center;
    padding: 30px;
    font-size: 3.2rem;
    text-decoration: dotted; }
  .main-index .pmain {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    border: solid 3px #61481c;
    padding: 15px; }
  .main-index .cajadefotos {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    padding: 30px; }
  .main-index .pfoto {
    text-align: center;
    border: solid 3px #61481c; }

/*importar estilos nosotros*/
/*estilos main y aside*/
.nos-cont {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  gap: 2em; }
  .nos-cont .main-nos {
    grid-column: 1/2; }
  .nos-cont h2 {
    font-size: 2.5rem;
    text-align: center; }
  .nos-cont p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 5px;
    letter-spacing: 3px;
    font-weight: 3px; }
  .nos-cont .foto-1 {
    padding: 5px;
    margin: 2px;
    border: 2px solid black; }
  .nos-cont .foto-2 {
    padding: 5px;
    margin: 2px;
    border: 2px solid black; }
  .nos-cont .foto-3 {
    padding: 5px;
    margin: 2px;
    border: 2px solid black; }
  .nos-cont footer {
    grid-column: 1/4; }

/*footer*/
footer div {
  width: 100%;
  border-top: 3px solid; }

footer h3 {
  font-size: 1.5rem;
  justify-items: center;
  text-align: center;
  text-transform: bold;
  padding-top: 15px; }

footer a {
  margin-left: 5px;
  padding-top: 20px; }

footer img {
  margin-top: -5px;
  width: 25px;
  height: 25px; }

@media screen and (max-width: 768px) {
  nav {
    height: 50px;
    margin-top: -30px; }
  a-font-size: 1.5vw;
  a:hover {
    font-size: 100%; }
  .nos-cont h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.8rem; }
  .nos-cont p {
    border: solid 3px #61481c; }
  .nos-cont .aside {
    align-items: center;
    margin: auto; }
  .nos-cont .foto-1 {
    margin-bottom: 15px; }
  .nos-cont .foto-2 {
    margin-bottom: 15px; }
  .nos-cont footer h3 {
    font-size: 1.2em; } }

/*media screen 768*/
@media screen and (max-width: 768px) {
  .titulo h1 {
    margin-top: 50px; }
  .titulo nav {
    margin-top: -20px; }
  .nos-cont h2 {
    font-size: 1.5rem; }
  .nos-cont p {
    border: solid 3px #61481c;
    font-size: 1.1rem; }
  .nos-cont .aside {
    align-items: center;
    margin: auto; }
  .nos-cont .foto-1 {
    margin-bottom: 15px; }
  .nos-cont .foto-2 {
    margin-bottom: 15px; }
  .nos-cont footer h3 {
    font-size: 1.2em; } }

/*media screen 650*/
@media screen and (max-width: 650px) {
  .titulo h1 {
    font-size: 2.6em;
    margin-top: 20px; }
  .nos-cont .main-nos {
    grid-column: 1/4; }
  .nos-cont h2 {
    font-size: 1.5rem; }
  .nos-cont p {
    border: solid 3px #61481c;
    font-size: 1.1rem; }
  .nos-cont .aside {
    margin: auto;
    grid-column: 1/4; }
  .nos-cont .foto-1 {
    justify-content: self-start;
    margin-bottom: 15px; }
  .nos-cont .foto-2 {
    margin-bottom: 15px; }
  .nos-cont footer h3 {
    font-size: 1.2em; } }

/*importar estilos especies*/
/*main especies*/
.container .bg-titulo2 {
  font-size: 2.8em;
  margin: 20px 0px;
  text-transform: capitalize; }

.container .bg-subtitulo {
  text-align: start;
  font-size: 1.8em;
  margin: 20px 0;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif; }

.container .psubt {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif; }

.container .h3 {
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  background-color: #5a3b05;
  color: #f3c069; }

.container img {
  float: left;
  margin-right: 15px;
  width: 80px; }

.container .pint {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify; }

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2em; } }

/*importar estilos cuidados*/
/*importar estilos contacto*/
/* formulario de contacto*/
form {
  width: 40%;
  margin: auto;
  background: #61481c;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 7px;
  font-family: 'Uchen', serif; }
  form h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  form #boton {
    background: #fff;
    padding: 20px;
    font-size: 1.2em; }
  form #boton:hover {
    background-color: #F3E0B5;
    cursor: pointer; }

@media screen and (max-width: 768px) {
  form {
    background-color: #66532e; }
  #boton {
    background: #fff;
    padding: 20px;
    font-size: 1.2em; }
  #boton:hover {
    background-color: #f4c24d; } }
