.cont-cuidados {
  width: 90%;
  margin: auto; }

.cont-cuidados .img-cuidado-izquierda {
  float: left;
  border: 2px solid black;
  margin-right: 10px;
  margin-top: 10px; }

.cont-cuidados .img-cuidado-derecha {
  float: right;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 10px; }

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #c0a26f;
  width: 100vw;
  height: 100vh; }

/*header*/
.head-nav .titulo {
  text-align: center;
  margin: 20px 0 20px 0; }

.head-nav .navbar {
  background-color: #61481c;
  align-content: end; }

.head-nav #navbarNav {
  text-align: center;
  justify-content: center; }

.head-nav .nav-link {
  color: #c0a26f;
  font-size: x-large; }

/*footer*/
footer {
  text-align: center;
  border-top: 2px solid; }

.p-foot {
  font-size: .8rem;
  font-weight: bold;
  padding-top: 10px; }

@media screen and (min-width: 768px) {
  body {
    max-width: 80%;
    margin: auto; }
  .titulo-h1 {
    font-size: 3rem; }
  .navbar {
    height: 100px; }
  .logo {
    width: 150px; }
  .nav-link {
    font-size: 3rem; } }

@media screen and (min-width: 1200px) {
  .titulo-h1 {
    font-size: 5rem; }
  .navbar {
    height: 120px; }
  .logo {
    width: 250px; }
  .nav-item {
    padding-left: 30px; }
  .nav-item :hover {
    border-radius: 15px;
    color: #d07b05;
    font-size: 200%;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black; }
  .p-foot {
    font-size: 1.2rem; } }

/*importar estilos index*/
.cont-cuidados {
  width: 90%;
  margin: auto; }

.cont-cuidados .img-cuidado-izquierda {
  float: left;
  border: 2px solid black;
  margin-right: 10px;
  margin-top: 10px; }

.cont-cuidados .img-cuidado-derecha {
  float: right;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 10px; }

.main-index {
  width: 80%;
  height: auto;
  margin: auto; }
  .main-index .subtitulo {
    text-transform: capitalize;
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
    text-decoration: dotted; }
  .main-index .pmain {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    border: solid 3px #61481c;
    padding: 15px;
    font-size: 0.8rem; }

.index-cajadefotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 30px; }
  .index-cajadefotos .card-index-foto {
    box-shadow: 5px 5px 5px 5px #61481c;
    padding: 2.5px;
    margin: 10px 30px; }
  .index-cajadefotos .card-foto {
    width: 80px;
    height: 80px;
    border: 0.5px solid #61481c; }
  .index-cajadefotos .intro-index-foto {
    background-color: #61481c;
    height: auto; }
  .index-cajadefotos .card-titulo {
    font-size: .8em;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    margin-bottom: -1.5px; }

@media screen and (min-width: 768px) {
  .main-index .subtitulo {
    font-size: 2.2rem;
    text-decoration: underline; }
  .main-index .pmain {
    font-size: 1.2rem; }
  .index-cajadefotos .card-index-foto {
    margin: 30px 10px; }
  .index-cajadefotos .card-foto {
    width: 100px;
    height: 100px; } }

@media screen and (min-width: 1200px) {
  .index-cajadefotos .card-index-foto {
    padding: 2.5px; }
  .index-cajadefotos .card-foto {
    width: 120px;
    height: 120px; } }

/*importar estilos nosotros*/
/*estilos main y aside*/
.nos-cont {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  align-items: center;
  grid-template-areas: "main main" "aside aside"; }
  .nos-cont .main-nos {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px 0 20px; }
  .nos-cont .subt-nos {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px; }
  .nos-cont .p-nosotros {
    font-size: 0.8rem;
    text-align: justify;
    padding: 5px;
    letter-spacing: 3px;
    border: solid 3px #61481c; }
  .nos-cont .aside-nos {
    grid-area: aside;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .nos-cont .foto-aside {
    box-shadow: 5px 5px 5px 5px #61481c;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px; }

@media screen and (min-width: 768px) {
  .nos-cont {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: auto;
    grid-template-areas: "main mani aside";
    justify-content: center;
    align-items: center; }
    .nos-cont .aside-nos {
      flex-direction: column;
      padding: 50px; }
    .nos-cont .foto-aside {
      width: 120px;
      height: 120px; } }

@media screen and (min-width: 1200px) {
  .nos-cont .main-nos {
    width: 700px; }
  .nos-cont .subt-nos {
    font-size: 2rem; }
  .nos-cont .p-nosotros {
    font-size: 1.1rem;
    letter-spacing: 1;
    line-height: 1.8; }
  .nos-cont .aside-nos {
    width: 50%;
    margin-top: 70px; } }

/*importar estilos especies*/
/*main especies*/
.container .bg-titulo2 {
  font-size: 1.5rem;
  margin: 20px 0px;
  text-transform: capitalize; }

.container .bg-subtitulo {
  text-align: start;
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 0;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif; }

.container .psubt {
  text-align: justify;
  font-size: .8rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif; }

.container .h3 {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  background-color: #5a3b05;
  color: #f3c069; }

.container img {
  float: left;
  margin-right: 15px;
  width: 80px;
  height: 80px; }

.container .pint {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  line-height: 1.5;
  text-align: justify; }

/*media screen 1440px*/
@media screen and (min-width: 1200px) {
  .container .bg-titulo2 {
    font-size: 2.5rem;
    margin-top: 70px;
    margin-bottom: 50px; }
  .container .bg-subtitulo {
    font-size: 1.8rem; }
  .container .psubt {
    font-size: 1.2rem;
    margin-bottom: 50px; }
  .container .h3 {
    font-size: 1.8rem; }
  .container img {
    width: 120px;
    height: 120px; }
  .container .pint {
    font-size: 1rem; } }

/*importar estilos cuidados*/
.cont-cuidados {
  width: 90%;
  margin: auto; }

.cont-cuidados .img-cuidado-izquierda {
  float: left;
  border: 2px solid black;
  margin-right: 10px;
  margin-top: 10px; }

.cont-cuidados .img-cuidado-derecha {
  float: right;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 10px; }

.cont-cuidados .feng-cuidados {
  margin-top: 50px; }

.cont-cuidados .feng-intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.cont-cuidados .sub-intro {
  font-size: 1.2rem;
  margin-left: 30px;
  margin-bottom: 30px;
  text-decoration: underline;
  text-transform: capitalize; }

.cont-cuidados .p-cuidado {
  text-align: justify;
  font-size: .8rem;
  margin-bottom: 25px; }

.cont-cuidados .enc-cuidado {
  font-size: 1rem;
  background-color: #63632d;
  text-align: center;
  color: #fff; }

.cont-cuidados .img-feng {
  border: 2px solid black;
  width: 100%;
  max-height: auto;
  margin-bottom: 50px; }

.cont-cuidados .feng-beneficios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.cont-cuidados .feng-video {
  margin: 30px; }

.cont-cuidados .feng-video iframe {
  width: 340px;
  height: 280px; }

.cont-cuidados .feng-tipos {
  height: auto; }

.cont-cuidados .img-cuidado-izquierda {
  width: 60px;
  height: 60px;
  box-shadow: -5px 5px 5px 5px #61481c; }

.cont-cuidados .img-cuidado-derecha {
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 5px 5px #61481c; }

/*media screen 768px*/
@media screen and (min-width: 768px) {
  .cont-cuidados .sub-intro {
    font-size: 1.8rem;
    text-align: center; }
  .cont-cuidados .p-cuidado {
    font-size: 1.1rem;
    margin-bottom: 60px;
    letter-spacing: 3px;
    line-height: 1.8em; }
  .cont-cuidados .enc-cuidado {
    font-size: 1.5rem;
    background-color: #63632d;
    text-align: center;
    color: #fff; }
  .cont-cuidados .img-feng {
    width: 600px;
    height: 400px; }
  .cont-cuidados .feng-video iframe {
    width: 750px;
    height: 480px; }
  .cont-cuidados .img-cuidado-izquierda {
    width: 100px;
    height: 100px; }
  .cont-cuidados .img-cuidado-derecha {
    width: 100px;
    height: 100px; } }

/*importar estilos contacto*/
/* formulario de contacto*/
form {
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
  background: #61481c;
  padding: 10px 20px;
  border-radius: 17px;
  font-family: 'Uchen', serif; }
  form h2 {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: .8rem;
    border: none; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  form #boton {
    display: block;
    width: 120px;
    height: auto;
    margin: auto;
    font-size: 1rem;
    color: black; }

/*media screen 768px*/
@media screen and (min-width: 768px) {
  .contacto form {
    max-width: 650px;
    height: auto;
    background-color: #66532e; }
  .contacto #boton {
    padding: 20px;
    font-size: 1.2em; } }

/*media screen 1200px*/
@media screen and (min-width: 1200px) {
  .contacto form {
    width: 50%;
    height: 500px; }
  .contacto h2 {
    font-size: 1.5rem; }
  .contacto input, .contacto textarea {
    font-size: 1rem; }
  .contacto #boton {
    font-size: 1.5em; }
  .contacto #boton :hover {
    background-color: aqua; } }
