
/*reseteando estilos*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*parametros para toda la pagina*/
body{
    background-color: #AD8B73;
    font-family: 'Montserrat', sans-serif
}

/*encabezado*/

.headcontainer{
    display: flex;
    height: 100px;
    align-items: center;
    margin-bottom: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.titulo{
    
    font-size: 1rem;
    text-shadow: 1px 1px 2px #8FBDD3;
    text-align: center ;    
}

/*trabajando el navegador*/

.navegador{
    display: flex;
    background-color: #5F7161;
    width: auto;
    height: 80px;
    align-items: center;
    

}

.navegador ul{
    width: 100%;
    text-align: center;
}

.navegador ul li{
    display: inline;
    margin-left: 20px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navegador ul li a:hover{
    font-size: 150%;
    color: #AD8B73;
    text-shadow: 2px 2px 3px black;
}

.navegador ul li a{
    text-decoration: none;
    color: black;
}

/*trabajos en el main*/

.cuerpo{
    display: grid;
    width: 100%;
    height: auto;
}

h2{
    border: 5px solid black;
    padding: 20px;
}
article{
    font-size: 30px;
    text-align: justify;
}



/*footer*/

.footer{
    border-top: 5px solid black;
    margin-top: 20px;
    text-align: center;
    
}
.footer h2{
    margin: 20px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}




