

/* formulario de contacto*/

form{
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    background:$col-sec;
    padding: 10px 20px;
    border-radius: 17px;
    font-family: 'Uchen', serif;
    h2{
        color: $col-text-contraste;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    input, textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        font-size: .8rem;
        border: none;
    }
    textarea{
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }
    #boton{
        display: block;
        width: 120px;
        height: auto;
        margin: auto;
        font-size: 1rem; 
        color: 	black;
        
    }
}

/*media screen 768px*/

@media screen and (min-width:768px){
    .contacto{
        form{
            max-width: 650px;
            height: auto;
            background-color: map-get($map: $bg-form-med, $key: bgmed);
        }
            #boton{
                
                padding: 20px;
                font-size: 1.2em;
            }
    }
}

/*media screen 1200px*/

@media screen and (min-width:1200px){
    .contacto{
        form{
            width: 50%;
            height: 500px;
        }
        h2{
            font-size: 1.5rem;
        }
        input, textarea{
            font-size: 1rem;
        }
            #boton{
                font-size: 1.5em;
            }
                #boton :hover{
                    background-color: aqua;
                }
    }
}


