@import "../base/extend";

.cont-cuidados{
    @extend %widt;


    .feng-cuidados{
        margin-top: 50px;
    }
    .feng-intro{
        width: 100%;
        display: flex;
        flex-wrap:wrap ;
        justify-content: center;
        align-items: center;

    }
        .sub-intro{
            font-size: 1.2rem;
            margin-left: 30px;
            margin-bottom: 30px;
            text-decoration: underline;
            text-transform: capitalize;
        }
        .p-cuidado{
            text-align: justify;
            font-size: .8rem;
            margin-bottom: 25px;
        }
        .enc-cuidado{
            font-size: 1rem;
            background-color: $col-fondo-texto;
            text-align: center;
            color: $col-text-contraste;
        }
        .img-feng{
            border: 2px solid black;
            height: auto;
            margin-bottom: 50px;
            
        }
        .feng-beneficios{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
            .feng-video{
                margin: 30px;
            }
                .feng-video iframe{
                    width: 340px;
                    height: 280px;
                }
            
        .feng-tipos-ppal{
        }
            .feng-tipos{
                
                height: auto;
            }
                .img-cuidado-izquierda{
                    @extend %foto1;
                    width: 60px;
                    height: 60px;
                    box-shadow: $col-sombra-derecha;
                }
                .img-cuidado-derecha{
                    @extend %foto2;
                    width: 60px;
                    height: 60px;
                    box-shadow: $col-sombra;
                }
        
}

/*media screen 768px*/

@media screen and(min-width: 768px) {
    .cont-cuidados{
        
        

        .feng-cuidados{
        }
            .sub-intro{
                font-size: 1.8rem;
                text-align: center;
            }
            
            .p-cuidado{
                font-size: 1.1rem;
                margin-bottom: 60px;
                letter-spacing: 3px;
                line-height: 1.8em;
            }
            .enc-cuidado{
                font-size: 1.5rem;
                background-color: $col-fondo-texto;
                text-align: center;
                color: $col-text-contraste;
            }
            .img-feng{
                min-width: 720px;   
            }
            .feng-beneficios{
            }
                .feng-video{ 
                    
                }
                .feng-video iframe{
                    width: 750px;
                    height: 480px;
                }
                
            
            .feng-tipos{
                
            }
            .img-cuidado-izquierda{
                width: 100px;
                height: 100px;
            }
            .img-cuidado-derecha{
                width: 100px;
                height: 100px;
            }
    }   
}

@media screen and (min-width: 1200x) {
    .cont-cuidados{
        
        .img-feng{
            max-width: 800px;
        }
        .feng-tipos{
        }
    }
}