
/*main especies*/
.container{
    main{
    }
        .bg-titulo2{
            font-size: 1.5rem;
            margin: 20px 0px;
            text-transform: capitalize;
        }
        .introduccion{
            
        }
            .bg-subtitulo{
                text-align: start;
                font-size: 1rem;
                font-weight: bold;
                margin: 20px 0;
                text-transform: capitalize;
                text-decoration: underline;
                font-family: 'Roboto', sans-serif;
            }
            .psubt{
                text-align: justify;
                font-size: .8rem;
                line-height: 1.5;
                font-family: 'Roboto', sans-serif;
            }
        .contenido{

        }
            .h3{
                font-size: 1.2rem;
                font-family: 'Roboto', sans-serif;
                text-transform: capitalize;
                background-color: #5a3b05;
                color: #f3c069;
            }
            img{
                float: left;
                margin-right: 15px;
                width: 80px;
                height: 80px;
            }
            .pint{
                font-family: 'Roboto', sans-serif;
                font-size: .8rem;
                line-height: 1.5;
                text-align: justify;
            }
}


/*media screen 1440px*/
@media screen and(min-width: 1200px) {
    .container{
        main{
        }
            .bg-titulo2{
                font-size: 2.5rem;
                margin-top: 70px;
                margin-bottom: 50px;
            }
            .introduccion{
                
            }
                .bg-subtitulo{
                    font-size: 1.8rem;
                }
                .psubt{
                    font-size: 1.2rem;
                    margin-bottom: 50px;
                }
            .contenido{
    
            }
                .h3{
                    font-size: 1.8rem;
                }
                img{
                    width: 120px;
                    height: 120px;
                }
                .pint{
                    font-size: 1rem;
                }
    }
}