
@import "../base/variables";
@import "../base/mixin";
@import "../base/mapas";
@import "../base/listas";
@import "../base/extend";


.main-index{
    @include wid-heig;
    .subtitulo{
        text-transform: capitalize;
        text-align: center;
        padding: 30px;
        font-size: 1.5rem;
        text-decoration: dotted;
    }
    .pmain{
        font-family: $texto-parrafo;
        text-align: justify;
        @include bordes;
        padding: 15px;
        font-size: 0.8rem;
    }
}
.index-cajadefotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 30px;

    .card-index-foto{
        box-shadow: $col-sombra;
        padding: 2.5px;
        margin: 10px 30px
    }
        .card-foto{
            width: 80px;
            height: 80px;
            border: .5px solid $col-sec;
        }
        .intro-index-foto{
            background-color: $col-sec;
            height: auto;
            
        }
            .card-titulo{
                font-size: .8em;
                color: whitesmoke;
                padding: 5px;
                text-align: center;
                margin-bottom: -1.5px;
            }
}





@media screen and (min-width: 768px) {
    .main-index{
        .subtitulo{
            font-size: 2.2rem;
            text-decoration: underline;
        }
        .pmain{
            font-size: 1.2rem;
        }
        
    }
    .index-cajadefotos{
        .card-index-foto{
            margin: 30px 10px;
        }
            .card-foto{
                width: 100px;
                height: 100px;
                    
            }
            
        }
}

@media screen and (min-width: 1200px){
    .index-cajadefotos{
        .card-index-foto{
            
            padding: 2.5px;
        }
            .card-foto{
                width: 120px;
                height: 120px;
                    
            }
            
        }
}