@import "../base/variables";
@import "../base/mixin";
@import "../base/mapas";
@import "../base/listas";



/*estilos main y aside*/

.nos-cont{
    
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
        "main main"
        "aside aside";
    
    .main-nos{
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:0 20px 0 20px;
    }
        .subt-nos{
            font-size: 1.2rem;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .p-nosotros{
            font-size: 0.8rem;
            text-align: justify;
            padding: 5px;
            letter-spacing: 3px;
            @include bordes;
            
        }

    .aside-nos{
        grid-area: aside;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        .nos-foto{
            
        }
        .foto-aside{
            box-shadow: $col-sombra;
            width: 100px;
            height: 100px;
            padding: 5px;
            margin: 5px;
            
            
        }
}

@media screen and (min-width: 768px) {
    .nos-cont{
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "main mani aside";
        justify-content: center;
        align-items: center;
        
        .main-nos{
        }
            .subt-nos{

            }
            .p-nosotros{

            }

        .aside-nos{
            flex-direction: column;
            padding: 50px;

        }
            .nos-foto{
                
            }
            .foto-aside{
                width: 120px;
                height: 120px;
                                
            }
    }
}

@media screen and (min-width: 1200px) {
    .nos-cont{
        
        .main-nos{
            width: 700px;
        }
            .subt-nos{
                font-size: 2rem;
            }
            .p-nosotros{
                font-size: 1.1rem;
                letter-spacing: 1;
                line-height: 1.8;
            }
        .aside-nos{
            width: 50%;
            margin-top: 70px;
        }
    }
}