

@import "base/variables";

@mixin bordes{
    border: solid 3px $col-bordes;
}
@mixin borde-foto{
    border: 2px solid black;
}

@mixin wid-heig{
    width: 80%;
    height: auto;
    margin: auto;
}